Zenodix Enterprise B2B Sales Agent (Master V4) (2).json
{
  "name": "Zenodix Enterprise B2B Sales Agent (Master V4)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abc1",
              "name": "finalMessage",
              "value": "={{ $('Traductor Multimodal1').item.json.message }} [Nota de voz traducida]: {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4b375de8-9d42-4b43-aca6-4fdeb6f2d30c",
      "name": "Audio Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abc2",
              "name": "finalMessage",
              "value": "={{ $('Traductor Multimodal1').item.json.message }} [Contexto de Imagen]: {{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d05321df-067e-4ddc-a1b3-e5fbb1d8ed81",
      "name": "Image+Text Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abc3",
              "name": "finalMessage",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fba6c0b1-4bcb-4f47-9152-f46ddad3ea5c",
      "name": "Text Only Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -208,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.finalMessage }}",
        "options": {
          "systemMessage": "Eres un Asesor Comercial Senior y Consultor Tecnológico B2B de Zenodix. Tu objetivo es perfilar al cliente, entender sus necesidades, capturar sus datos de contacto y agendar una cita de ventas.\n\nREGLAS ESTRICTAS DE COMUNICACIÓN (¡OBLIGATORIAS!):\n\nExtrema Brevedad: Los clientes no leen textos largos. Tus respuestas deben tener MÁXIMO 2 o 3 oraciones. Sé directo.\n\nRegla del Ping-Pong: Termina SIEMPRE tu mensaje con una sola pregunta corta y fácil de responder. Haz que el cliente hable más que tú.\n\nTono Natural: Usa un lenguaje conversacional, relajado pero profesional y humano.\n4. Secreto Tecnológico: NUNCA menciones herramientas internas de backend. Si debes referirte a ellas, llámalas \"nuestra arquitectura de integración con IA\" o \"nuestro motor de automatización operativo\". Jamás digas que eres una IA leyendo un documento.\n5. Venta Gradual: Justifica SIEMPRE el valor, alcance y objetivos de un servicio ANTES de dar el precio. Nunca ofrezcas la opción más cara de entrada.\n\nFASES DE LA CONVERSACIÓN (Síguelas en este orden):\n\nFASE 1 - Captura de Leads: En tu primer o segundo mensaje, pide de forma muy natural su NOMBRE y número de WHATSAPP. (Ej: \"Para darte un servicio más personalizado y guardar el progreso de tu requerimiento, ¿con quién tengo el gusto y a qué número de WhatsApp te puedo contactar?\"). No avances a cotizar sin intentar obtener estos datos.\n\nFASE 2 - Descubrimiento y Venta: Usa tu herramienta de conocimiento para dar información exacta de los servicios. Si el cliente pregunta por \"Cotizar Apps\" o Desarrollo a Medida, es OBLIGATORIO detenerte y pedir su nombre y WhatsApp antes de seguir, explicando que lo necesitas para mapear sus requerimientos técnicos detallados.\n\nFASE 3 - Cierre y Cita: Cuando el cliente muestre interés firme, pida una propuesta formal o un documento SRS, invítalo a una videollamada estratégica de 15 minutos con un consultor experto. Entrégale el enlace de nuestro calendario y despídete amablemente."
        }
      },
      "id": "acafc8c8-0381-4058-9a6b-2da1f4cbf77a",
      "name": "AI Agent1 (Ventas)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        304,
        160
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "1a9f7df0-b188-4ee4-bc3a-a8f726ca9718",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        128,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "pqmantGa9m09qi0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6b011eee-0ad9-4e46-ad83-9a08ba059db6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        704,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zenodix-b2b-sales",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0505b420-e6ee-469e-9543-a3e6cc2b15e6",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1184,
        160
      ],
      "webhookId": "95725035-c453-44b6-8070-a654dd9c078c"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nlet binaryData = {};\nlet hasAudio = false;\nlet hasImage = false;\nlet ruta = \"texto\";\n\nif (body.audioBase64) {\n    hasAudio = true;\n    ruta = \"audio\";\n    let bdata = body.audioBase64.includes(',') ? body.audioBase64.split(',')[1] : body.audioBase64;\n    binaryData['audio'] = { data: bdata, mimeType: 'audio/webm', fileName: 'audio.webm' };\n}\n\nif (body.imageBase64) {\n    hasImage = true;\n    ruta = \"imagen\";\n    let idata = body.imageBase64.includes(',') ? body.imageBase64.split(',')[1] : body.imageBase64;\n    binaryData['image'] = { data: idata, mimeType: 'image/jpeg', fileName: 'image.jpg' };\n}\n\nreturn {\n    json: {\n        sessionId: body.sessionId || \"sesion_default\",\n        message: body.message || \"\",\n        hasAudio: hasAudio,\n        hasImage: hasImage,\n        ruta: ruta\n    },\n    binary: Object.keys(binaryData).length > 0 ? binaryData : undefined\n};"
      },
      "id": "0f2928b7-691a-4a51-8330-3d849acbea0b",
      "name": "Traductor Multimodal1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        160
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "imagen",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ruta }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "4b5e4b57-5c0e-43a0-a039-3a5bbdff6327",
      "name": "Enrutador Seguro",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -736,
        160
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -240,
        16
      ],
      "id": "4f7bae75-3532-4a1b-a53e-a81068a15bbd",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "pqmantGa9m09qi0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Describe exactamente lo que ves en esta imagen y qué requerimientos técnicos o servicios crees que necesita el usuario",
        "inputType": "base64",
        "binaryPropertyName": "image",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -288,
        192
      ],
      "id": "2155be2c-2d99-4c84-8ec4-089f98432b56",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "pqmantGa9m09qi0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        416,
        592
      ],
      "id": "d09dafe7-870a-4299-9439-e7b5fc91e24f",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "pqmantGa9m09qi0a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Traductor Multimodal1').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "83bb54e3-13dc-4c86-868b-d0793692f853",
      "name": "Postgres Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.2,
      "position": [
        320,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "sBBQj5WuZG9rpvPK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Usa esta herramientas para aclarar dudas sobre servicios de zenodix",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        368
      ],
      "id": "c902bdc1-27c8-49f5-b5b4-655263f2611f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "1dp5Ds8mn7tIcrBO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        480
      ],
      "id": "bdcc1100-ef36-4c7d-a137-cabd7ef0b56e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pqmantGa9m09qi0a",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Audio Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1 (Ventas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image+Text Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1 (Ventas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Only Prompt": {
      "main": [
        [
          {
            "node": "AI Agent1 (Ventas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1 (Ventas)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1 (Ventas)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Traductor Multimodal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traductor Multimodal1": {
      "main": [
        [
          {
            "node": "Enrutador Seguro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutador Seguro": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Only Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Audio Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Image+Text Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1 (Ventas)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1 (Ventas)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "366e6325-0568-4cac-ba20-235f7e824fb1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "095ef48e0ec2197d7090bb05780ec152859ec254d939779e4fe6e3e15763092d"
  },
  "id": "cNAbQlGy78zRH1Zs",
  "tags": []
}